yt-dlp
faster-whisper
google-generativeai
edge-tts
torch
torchaudio
realesrgan
facexlib
gfpgan
basicsr
gradio
pyyaml
pyngrok
ultralytics
opencv-python-headless
av
imageio[ffmpeg]
transformers
sentencepiece
